{{ define "nav" }}
  <span href="/" class="title">{{ .Title }}</span>
{{ end }}

{{ define "main" }}
  <h4>All Forms:</h4>
  <ol>
    {{ range .Forms }}
      <li>
        <a href="/{{ .Prefix }}">
          {{ .Title }}
        </a>
      </li>
    {{ end }}
  </ol>
{{ end }}
